body {
	background-image: url('../images/mojave.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.jumbotron {
	text-align: center;
	height: 100%;

}

.answer {
	background-color: red;
	border: solid #ccccb3 2px;
	visibility: hidden;
}

#reset {
	visibility: hidden;
}
